/* STARBURN */
/* hit area larger than stars */
/* Palettes: https://flatuicolors.com/palette/au, https://flatuicolors.com/palette/cn */
* {
    margin: 0;
    padding: 0;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    box-sizing: border-box;
}

:root {
    --scale: 1;
}


/* Animated Gradient: https://codepen.io/P1N2O/pen/pyBNzX */
body,
html {
    width: 100%;
    height: 100%;
    background-color: #000;
    overflow: hidden;
    background: linear-gradient(-45deg, #130f40, #30336b, #3742fa, #ff4757);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {

    0%,
    100% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }
}


/* Stars */
#starburn {
    position: relative;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
}

.star {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    appearance: none;
    border-radius: 50%;
    outline: 0;
    border: 0;
    font-size: 1vw;
    line-height: 0;
    color: transparent;
    background: transparent;
    width: 3%;
    height: auto;
    aspect-ratio: 1 / 1;
    animation: pulse-animation 2s infinite;
    animation-fill-mode: forwards;
    text-align: center;
    transform: none;
    filter: none;
    transition: font-size 1s ease, opacity 1s ease, filter 1s ease, color 0.25s ease;
}

@keyframes pulse-animation {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.4);
    }
}

.star.burn {
    pointer-events: none;
    animation: none;
    font-size: 50vw !important;
    opacity: 0;
    color: #ff4757 !important;
    filter: blur(5vw);
}

.star:not(.burn):hover,
.star:not(.burn):focus,
.star:not(.burn):active {
    color: #ff4757 !important;
}

.star.s1 {
    font-size: calc(0.5vw * var(--scale));
}

.star.s2 {
    font-size: calc(1vw * var(--scale));
    animation-delay: 0.75s;
}

.star.s3 {
    font-size: calc(1.5vw * var(--scale));
    animation-delay: 1.25s;
}

.star.c1 {
    color: #dff9fb;
}

.star.c2 {
    color: #c7ecee;
}

.star.c3 {
    color: #95afc0;
}

.star.c4 {
    color: #7ed6df;
}

.star.c5 {
    color: #22a6b3;
}

@media (max-width: 1024px) {
    :root {
        --scale: 1.5;
    }
}

@media (max-width: 768px) {
    :root {
        --scale: 2;
    }
}


/* VIDEOS */
video.starvideo {
    display: none;
    position: absolute;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    object-position: center;
    pointer-events: none;
    mix-blend-mode: soft-light;
    opacity: 0.5;
}

#stargallery video.starvideo {
    mix-blend-mode: overlay;
    opacity: 0.5;
}


/* BLACK HOLE: MAIN CHARACTER */
#blackhole {
    position: absolute;
    z-index: 100;
    left: 0;
    bottom: 0;
    background: #000;
    color: transparent;
    width: 2vw;
    height: auto;
    font-size: 0.1vw;
    line-height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    transition: left 0.5s ease, bottom 0.5s ease;
    box-shadow: 0 0 2vw 1vw #000;
    border: 0.075vw solid #ff4757;
}

@media (max-width: 1024px) {
    #blackhole {
        width: 3vw;
        border: 0.15vw solid #ff4757;
    }
}

@media (max-width: 768px) {
    #blackhole {
        width: 4vw;
        border: 0.25vw solid #ff4757;
    }
}


/* NAV */
#starcontrol {
    position: absolute;
    z-index: 99;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.15);
    text-align: center;
    padding: 0.75vw;
}

#starcontrol a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1vw;
    letter-spacing: 0.2vw;
    padding: 0 0.5vw;
}

#starcontrol a:hover,
#starcontrol a:focus,
#starcontrol a:active,
#starcontrol a.active {
    text-decoration: none;
    outline: 0;
    color: #ff4757;
}

#starcontrol a.disabled {
    pointer-events: none;
    opacity: 0.4;
    color: #fff !important;
}

@media (max-width: 1024px) {
    #starcontrol {
        padding: 1.5vw;
    }

    #starcontrol a {
        font-size: 1.5vw;
        letter-spacing: 0.25vw;
        padding: 0 0.75vw;
    }
}

@media (max-width: 768px) {
    #starcontrol {
        padding: 2vw;
    }

    #starcontrol a {
        font-size: 2.5vw;
        letter-spacing: 0.3vw;
        padding: 0 1vw;
    }
}


/* STAR COUNTER */
#starcounter {
    pointer-events: none;
    position: absolute;
    z-index: 99;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
    padding: 0.75vw;
    color: #fff;
    text-transform: uppercase;
    font-size: 1vw;
    letter-spacing: 0.25vw;
    background: rgba(0, 0, 0, 0.34);
}

#starcounter span {
    font: inherit;
    color: inherit;
}

@media (max-width: 1024px) {
    #starcounter {
        padding: 1.5vw;
        font-size: 1.5vw;
    }
}

@media (max-width: 768px) {
    #starcounter {
        padding: 2vw;
        font-size: 2vw;
    }
}
